@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

:root { font-family: Arial, Helvetica, sans-serif; color: #eef1ff; background: #1d1e2e; }
#root { min-height: 100vh; }